/* universal selector*/
* {
    box-sizing: border-box;
}

/* regular selector*/
a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: 3rem;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/*classes*/

.top-container,
.middle-container {
    text-align: center;
    padding: 5% 20%;
    background-color: #EAF6F6;
    width: 100%;
    height: 100%;
    margin: 0 20px 0 0;
    overflow: hidden;

}

.top-container {
    margin-top: 0;
}

.top-sun {
    width: 250px;
}

.bottom-cloud {
    display: block;
}


.intro {
    background-color: #fff;
    border-radius: 35px;
    text-align: center;
    display: block;
    width: 80.33%;
    padding: 45px;
    margin: 20px auto 0 auto;
    font-size: 1.2rem;
    line-height: 1.5;
    box-shadow: 5px 10px 8px #888888;

}

.middle-container {
    padding-top: 5px;
}

.skills-container li:nth-child(even):hover {
    color: rgb(180, 81, 180);
    cursor: pointer;
}

.experience-container li:nth-child(odd):hover {
    color: rgb(115, 26, 150);
    cursor: pointer
}

.stacks .ruby {
    width: 100%;
}

.img-container {
    text-align: center;
    width: 100%;
    display: inline-block;

}

.intro img {
    width: 150px;
}




.lower-container {
    text-align: center;
    padding: 5% 5%;
    background-color: #66BFBF;
    width: 100%;
    height: 100%;
    margin: 0 20px 0 0;
    overflow: hidden;

}



.lower-container ul li {
    list-style: none;
    display: inline-block;
    margin-left: 15px;
    font-size: 1.5rem;
}


.attributes-container {
    margin-top: 10px;
}

.attributes-container h3,
.attributes-container p {
    font-size: 1rem;
    margin: 10px 0;
}